<app-loading *ngIf="loading"></app-loading>
<app-cards [items]="breedsDogs" [imageBreeds]="imageBreed"></app-cards>
<!-- <div class="card-columns m-5 animated fadeIn">
    <div *ngFor="let item of breedsDogs | keyvalue" class="card">
        <img [src]="imageBreed[1] | noimages" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{item.key | titlecase}}</h5>
            <div *ngIf="item.value != ''" class="puntero">
                <div class="col card-text text-center">SubBreeds
                </div>
                <div class="col text-center">
                    <span (click)="seeSubBreeds(item.key)" *ngFor="let breed of item.value" class="badge badge-secondary ">
                            {{breed | titlecase}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div> -->