<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="card-columns m-5 animated fadeIn">
    <div *ngFor="let subBreed of subBreeds ; let i = index" class="card">
        <img [src]="imageBreed[i] | noimages" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{subBreed | titlecase}}</h5>

        </div>
    </div>
</div>