<div class="row animated fadeIn fast" *ngIf="msgModal">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No exist data
        </div>
    </div>
</div>
<div class="card-columns m-5 animated fadeIn">
    <div (click)="seeSubBreeds(item.key,item.value)" *ngFor="let item of items | keyvalue ; let i = index " class="card puntero">
        <img [src]="imageBreeds[i] | noimages" class="card-img-top " alt="...">
        <div class="card-body">
            <h5 class="card-title" onmouseover="style:'color:red;'">{{item.key | titlecase}}</h5>
            <div *ngIf="item.value != ''" class="puntero">
                <div class="col card-text text-center">SubBreeds
                </div>
                <div class="col text-center">
                    <span *ngFor="let breed of item.value" class="badge badge-secondary ">
                            {{breed | titlecase}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>